<div class="container">
    <form action="/update" method="POST"
    <h1>수정페이지</h1>
    제목 : <textarea name="title" class="form-control" rows="1"></textarea> <br>
    내용 : <textarea name="content" class="form-control" rows="5"></textarea> <br>
    <button class="btn btn-default" type="submit">수정</button>
</div>