<div class="container">
    <form action="/create" method="POST"
 <h1>첫페이지 </h1>
 제목 : <textarea name="title" class="form-control" rows="1"></textarea> <br>
 내용 : <textarea name="content" class="form-control" rows="5"></textarea> <br>
 <button class="btn btn-default" type="submit">Button</button>
 
</div>